/* .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(
      to bottom,
      rgba(27, 25, 6, 0.7) 0%,
      rgba(27, 26, 6, 0.7) 100%
    ),
    url("../../assets/card.jpg");
  background-size: cover;
  margin-top: 3rem;
  margin-right: 2rem;
  border-radius: 20px;
  border: 1px solid #0fbf6b;
  width: 325px;
  min-height: 500px;
} */
.card {
  position: relative;
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 190px 190px 60px;
  grid-template-areas: "image" "house" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  color: black;

  transition: 0.5s ease;
}

.card-image {
  grid-area: image;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-house {
  grid-area: house;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-stats {
  grid-area: stats;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(7, 255, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
  color: white;
  width: 30%;
}
.card .studentImg {
  margin-top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.houseContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.houseImg {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
}
.studentName {
  margin-top: 0;
  font-size: 20px;
}

.studentGender {
  text-transform: capitalize;
}

.img-bg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Slytherin {
  background: rgb(47, 115, 82);
}
.Gryffindor {
  background: #b5332f;
}

.Ravenclaw {
  background: rgb(10, 60, 97);
}

.Hufflepuff {
  background: rgb(224, 140, 40);
}

.wand {
  position: relative;
  bottom: 40px;
  width: 80%;
}
.card details {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

summary {
  width: 40px;
  list-style: none;
  margin: 0;

  outline: none;
  cursor: pointer;
}
.wandDetails {
  position: absolute;
  left: 24%;
  top: -50%;
}
.wandDetail {
  font-size: 14px;
  margin: 0;
  margin-bottom: 0.2rem;
}
.house {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
