.App {
  text-align: center;
}

.App h1 {
  text-transform: uppercase;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.9);
}

.App-header {
  background: linear-gradient(
      to bottom,
      rgba(11, 6, 27, 0.7) 0%,
      rgba(11, 6, 27, 0.7) 100%
    ),
    url("./assets/background.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
